*{
  box-sizing: border-box;
}

.content-container{
  width: 1900px;
  height: 1000px;
  padding: 50px;
  display:flex;
  justify-content: space-between;
}

.left-container {
  width: 700px;
  height: 800px;
  border: 1px solid red;
  padding: 50px;
}

.right-container {
  width: 880px;
  height: 800px;
  border: 1px solid blue;
}

.workout-table{
  width: 600px;
  border: 1px solid brown;
  margin-top: 20px;
  border-collapse: collapse; /* 이웃하는 테두리를 합치기 */
  border-radius: 10px; /* 원하는 둥근 정도 지정 */
  
}

tr {
  border: 1px solid blueviolet;
}

td {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

td, th {
  border-radius: 10px;
  border: 1px solid #000; /* 테두리 스타일 지정 */
  padding: 8px; /* 내용과 테두리 사이의 간격 */
}

table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}